* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/grass.jpg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.mc-font {
    font-family: "Minecraft", monospace;
}

.mono-font {
    font-family: monospace, monospace;
}

@font-face {
    font-family: "Minecraft";
    src: url("font/1_Minecraft-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/2_Minecraft-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/3_Minecraft-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Minecraft";
    src: url("font/4_Minecraft-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

#content {
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
}

#header {
    padding: .5rem;
}